<h1>My-To-Do</h1>
<%= react_component("list", {items: ["stuff"]}) %>

<br>
<h3>Component 2</h3>
<%= react_component("water") %>

<!-- <br>
<h3>Component 3</h3>
<%= react_component("addP", {data: ["blah", "okay"]}) %> -->

<br>
<h4>Component 4</h4>
<%= react_component("Layout") %>

<br>
<h5>Dropdown</h5>
<%= react_component("Dropdown")%>
